@model Turnus.Models.ScheduledDay

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ScheduledDay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="VenueId" class="control-label">Venue</label>
                <select asp-for="VenueId" class="form-control" asp-items="ViewBag.VenueId"></select>
                <span asp-validation-for="VenueId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>